version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: link_pg
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: links
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: link_redis
    ports:
      - "6379:6379"

volumes:
  pg_data:
